body {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
    .title {
        font-size: 72px;
    }
}

@font-face {
    font-family: 'opalregular';
    src: url('fonts/opal-webfont.woff2') format('woff2'),
        url('fonts/opal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.logo-font {
    font-family: 'opalregular', 'Roboto', sans-serif;
}

.content-wrapper,
.navbar,
.banner {
    background: #4e5266;

}

.maya-mirror-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("img/maya_mirror_bg.jpeg");
    /*
    background-color: black;
    background-blend-mode: multiply;
*/

}

.maya-mirror-bg img {}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Comfortaa', 'Roboto', sans-serif;

}

.main-content-wrapper {
    padding-bottom: 100px;
    padding-top: 50px;
}


.banner {
    width: 100%;
    height: 75vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fullpage {
    /*    position: absolute;*/
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}



.blue {
    color: #4cabb1;
}

.green {
    color: #69c7ad;
}

.yellow {
    color: #fed586;
}

.bg-blue {
    background-color: #4cabb1;
}

.bg-green {
    background-color: #69c7ad;
}

.bg-yellow {
    background-color: #fed586;
}


/*
.purple {
    color: #AB47BC;
}

.txt-r-grn-blu {
    background: -webkit-radial-gradient(50% 30%, circle closest-corner, #69c7ad, #4cabb1, #7986CB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.txt-r-grn-blu p {
    -webkit-text-fill-color: #6c757d;
}

.txt-r-blu-grn {
    background: -webkit-radial-gradient(50% 35%, circle closest-corner, #7986CB, #4cabb1, #69c7ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt-r-blu-grn p {
    -webkit-text-fill-color: #6c757d;
}

.txt-l-grn-blu-purpl {
    background: -webkit-linear-gradient(left, #69c7ad, #4cabb1, #AB47BC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.l-grn-blu {
    background: -webkit-linear-gradient(left, #69c7ad, #4cabb1, #7986CB);
}

.l-grn-blu-purpl {
    background: -webkit-linear-gradient(left, #69c7ad, #4cabb1, #AB47BC);
}
*/

#expertise,
#product,
#contactUs,
#aboutUs {
    padding: 120px 50px;
}

#contactUs {
    padding-bottom: 40px;
    margin-bottom: 50px;
}

#copyright {
    padding-top: 40px;
}

#expertise h1,
#product h1,
#contactUs h1,
#aboutUs h1 {
    padding-bottom: 25px;
}


/*expertise -- start*/

#expertise .fas,
#aboutUs .fas,
.feature-card .fas {
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 15px;
    cursor: pointer;
}

.feature-card {
    max-width: 500px;
    margin: 10px 20px;

    border: none;
}

@media (min-width: 576px) {
    .feature-card {
        margin: 50px;
    }

    #features i {
        font-size: 10em;
    }
    
    #features h4 {
        font-size: 4em;
    }

    #features p {
        font-size: 2em;
    }
}

.grow {
    transition: all .15s ease-in-out;
}

.grow:hover {
    transform: scale(1.2);
}

#expertise .card,
#aboutUs .card,
#contactUs .card {
    border-color: transparent;
    min-width: 200px;
}


/*expertise -- end*/

#product p {
    line-height: 2em;
}


#productCarousel {
    max-height: 250px;
    /*    min-width: 250px;*/
}

#product i {
    font-size: 400px;
    line-height: 400px;
}

#product > .row > .col {
    min-width: 200px;
}

#contactUs .detail .icon-wrap {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactUs .detail i {
    color: white;
    font-size: 30px;
}

#contactUs .detail a:hover {
    text-decoration: none !important;
}


/*
#contactUs .detail a {
    font-size: 1.2rem;
}
*/

#ytModal.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.cur-p {
    cursor: pointer;
}


/*maya mirrror css*/
.overlay {
    position: fixed;
    background: transparent;
    z-index: 1;
}


#staticMan .human {
    position: relative;
}

#staticMan .human img {
    position: absolute;
    width: 200px;
    height: auto;

    left: 10%;
    padding-top: 20%;
}

.scroller.fullpage {
    position: relative;
}

.apparel {
    /*    top: 25%;*/
    z-index: 3;
}

.apparel img {
    left: 10%;
    padding-top: 20%;
    position: absolute;
    top: 0%;
    margin-left: 10px;
    width: 200px;
    z-index: 3;
}

/*
.mm-content {
    position: absolute;
    top: 27%;
    left: 40%;

}*/
