body {
    font-family: 'Roboto', sans-serif;
}

.content-wrapper,
.navbar {
    background: linear-gradient(to right, #03A9F4AA, #4CAF50AA);

}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Comfortaa', cursive;

}

.main-content-wrapper {
    padding-bottom: 100px;
    padding-top: 50px;
}

.main-content {
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.banner {
    width: 100%;
    height: 75vh;
    /*    background-image: url("img/1.jpg");*/
    /*    background: linear-gradient(to left, #1B5E2099, #0D47A1aa), url('img/1.jpg');*/
    /*    background: linear-gradient(#00000033, #00000066), url('img/1.jpg');*/
    background: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fullpage {
    /*    position: absolute;*/
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}



.blue {
    color: #4cabb1
}

.green {
    color: #69c7ad;
}

.purple {
    color: #AB47BC;
}

.txt-r-grn-blu {
    background: -webkit-radial-gradient(50% 30%, circle closest-corner, #69c7ad, #4cabb1, #7986CB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.txt-r-grn-blu p {
    -webkit-text-fill-color: #6c757d;
}

.txt-r-blu-grn {
    background: -webkit-radial-gradient(50% 35%, circle closest-corner, #7986CB, #4cabb1, #69c7ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt-r-blu-grn p {
    -webkit-text-fill-color: #6c757d;
}

.txt-l-grn-blu-purpl {
    background: -webkit-linear-gradient(left, #69c7ad, #4cabb1, #AB47BC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.l-grn-blu {
    background: -webkit-linear-gradient(left, #69c7ad, #4cabb1, #7986CB);
}

.l-grn-blu-purpl {
    background: -webkit-linear-gradient(left, #69c7ad, #4cabb1, #AB47BC);
}

#expertise,
#product,
#contactUs,
#aboutUs,
#copyright {
    padding: 120px 50px;
}

#expertise h1,
#product h1,
#contactUs h1,
#aboutUs h1 {
    padding-bottom: 25px;
}


/*expertise -- start*/

#expertise .fas,
#aboutUs .fas {
    font-size: 100px;
    margin-top: 50px;
}



#expertise .card,
#aboutUs .card {
    border-color: transparent;
    min-width: 200px;
}


/*expertise -- end*/

#product p {
    line-height: 2em;
}


#productCarousel {
    max-height: 250px;
    /*    min-width: 250px;*/
}

#product i {
    font-size: 400px;
    line-height: 400px;
}

#product > .row > .col {
    min-width: 200px;
}

#contactUs .detail i {
    font-size: 1.6rem;
    margin-top: 5px;
}

#contactUs .detail a {
    font-size: 1.2rem;
}

#ytModal.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.cur-p {
    cursor: pointer;
}


/*maya mirrror css*/
.overlay {
    position: fixed;
    background: transparent;
    z-index: 0;
}

.human {
    position: absolute;
    top: 15%;
    left: 20%;
}

.scroller.fullpage {
    position: relative;
}

.apparel {
    position: absolute;
    top: 27%;
    left: 24%;
}

.apparel img {
    width: 250px;
}

.mm-content {
    position: absolute;
    top: 27%;
    left: 40%;

}
